<template>
  <material-card
    v-bind="$attrs"
    class="v-card--material-stats"
    style = "margin-bottom: 1000px;"
    v-on="$listeners"
  >
  <!--
    <v-card
      slot="offset"
      :class="`elevation-${elevation}`"
      :color="color"
      class="pa-2"
      dark
    >
      <v-icon
        size="45"
      >
        mdi-home
      </v-icon>
    </v-card>
    -->
    <v-form style = "margin-left: 110px; margin-top: 20px;">
        <v-row no-gutters>
            <v-col cols="12">                  
                <v-text-field dense
                v-model="address.street"
                :rules = "nameRules"
                label = "Street"
                required
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12">                  
                <v-text-field dense
                v-model="address.street2"
                :rules = "nameRules"
                label = "Street (cont)"
                ></v-text-field>
            </v-col>
        </v-row>        
        <v-row no-gutters>
            <v-col cols="6">                  
                <v-text-field dense
                v-model="address.city"
                :rules = "nameRules"
                label = "City"
                required
                ></v-text-field>
            </v-col>
            <v-col cols="4">                  
                <v-text-field dense
                v-model="address.state"
                :rules = "nameRules"
                label = "State"
                required
                ></v-text-field>
            </v-col>
            <v-col cols="2">                  
                <v-text-field dense
                v-model="address.zip"
                :rules = "nameRules"
                label = "ZIP"
                required
                ></v-text-field>
            </v-col>
        </v-row>
    </v-form>
    <template slot="actions">
      <v-icon
        :color="subIconColor"
        size="20"
        class="mr-2"
      >
        {{ subIcon }}
      </v-icon>
      <span
        :class="subTextColor"
        class="caption font-weight-light"
        v-text="subText"
      />
    </template>
  </material-card>
</template>

<script>
import Card from './Card'

export default {
  inheritAttrs: false,

  props: {
    ...Card.props,
    icon: {
      type: String,
      required: true
    },
    subIcon: {
      type: String,
      default: undefined
    },
    subIconColor: {
      type: String,
      default: undefined
    },
    subTextColor: {
      type: String,
      default: undefined
    },
    subText: {
      type: String,
      default: undefined
    },
    address: {
      type: Object,
      default: undefined
    }
  }
}
</script>

<style lang="scss">
.v-card--material-stats {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .v-offset {
    display: inline-block;
    flex: 0 1;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0 !important;
    max-width: auto;
    padding: 0 16px 0;
  }

  .v-card {
    border-radius: 4px;
    flex: 0 1 auto;
  }

  .v-card__text {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  .v-card__actions {
    flex: 1 0 100%;
  }
}
</style>
