<template>
  <v-container class="fill-height" fluid>
    <v-layout child-flex>
      <v-card>
        <v-card-title>Informed Consent</v-card-title>
        <v-card-subtitle>February 22, 2020</v-card-subtitle>
        <v-card-text>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Lacus vestibulum sed 
            arcu non odio euismod lacinia. Aliquet lectus proin nibh nisl condimentum.
            Ut venenatis tellus in metus vulputate eu. Ut tortor pretium viverra 
            suspendisse potenti nullam ac tortor vitae. Id diam maecenas ultricies mi 
            eget mauris pharetra et ultrices. Suscipit adipiscing bibendum est 
            ultricies integer quis. Ac tortor dignissim convallis aenean. Sit amet 
            massa vitae tortor condimentum lacinia. Amet cursus sit amet dictum sit. 
            Felis imperdiet proin fermentum leo vel orci porta. Hac habitasse platea 
            dictumst vestibulum. Odio facilisis mauris sit amet massa vitae tortor 
            condimentum. Consectetur libero id faucibus nisl. Cursus in hac habitasse 
            platea dictumst quisque sagittis purus. Sodales ut etiam sit amet nisl 
            purus. Morbi quis commodo odio aenean sed adipiscing diam donec 
            adipiscing. Non arcu risus quis varius quam. Eget nulla facilisi etiam 
            dignissim diam quis enim lobortis. Suscipit tellus mauris a diam.
          </p>
          <p>
            Ut placerat orci nulla pellentesque dignissim. Eu scelerisque felis 
            imperdiet proin fermentum leo. Lectus magna fringilla urna porttitor
            rhoncus dolor purus non. Nunc mattis enim ut tellus elementum sagittis. 
            Id volutpat lacus laoreet non curabitur gravida. Interdum velit euismod 
            in pellentesque massa placerat duis ultricies lacus. Facilisis leo vel 
            fringilla est. Nisl pretium fusce id velit ut tortor pretium viverra. 
            Viverra maecenas accumsan lacus vel facilisis volutpat est. Etiam sit 
            amet nisl purus in mollis nunc sed. Faucibus pulvinar elementum integer 
            enim neque. Mi tempus imperdiet nulla malesuada pellentesque elit. Sit 
            amet volutpat consequat mauris. Tellus mauris a diam maecenas. 
            Consectetur adipiscing elit ut aliquam purus. Feugiat sed lectus 
            vestibulum mattis ullamcorper velit. Ac felis donec et odio pellentesque 
            diam volutpat commodo sed.
          </p>
          <p>
            Nibh tellus molestie nunc non blandit massa enim nec dui. Arcu non odio 
            euismod lacinia at quis risus sed. Consequat id porta nibh venenatis 
            cras sed felis. Nunc scelerisque viverra mauris in aliquam sem fringilla
             ut. Cursus mattis molestie a iaculis. Aenean euismod elementum nisi 
             quis eleifend quam. Posuere urna nec tincidunt praesent semper. 
             Vestibulum morbi blandit cursus risus at ultrices mi tempus. Nullam 
             eget felis eget nunc lobortis mattis aliquam faucibus. Quis risus sed 
             vulputate odio ut. Augue eget arcu dictum varius duis. Felis eget velit 
             aliquet sagittis id. Consectetur adipiscing elit duis tristique 
             sollicitudin nibh sit. Maecenas pharetra convallis posuere morbi leo. 
             Tortor at auctor urna nunc id. Aliquam malesuada bibendum arcu vitae 
             elementum curabitur vitae nunc sed. Semper quis lectus nulla at volutpat 
             diam ut venenatis. Nibh nisl condimentum id venenatis a.        
          </p>
          <p>
            Tortor dignissim convallis aenean et tortor at risus. Ut enim blandit 
            volutpat maecenas volutpat. Eu nisl nunc mi ipsum faucibus vitae aliquet.
            Mauris pellentesque pulvinar pellentesque habitant. Aliquam vestibulum 
            morbi blandit cursus risus at. Lorem donec massa sapien faucibus. 
            Porttitor leo a diam sollicitudin tempor. Lorem ipsum dolor sit amet. 
            Pharetra sit amet aliquam id diam maecenas ultricies mi. Placerat orci
            nulla pellentesque dignissim enim sit amet. Cras semper auctor neque 
            vitae tempus. Tellus elementum sagittis vitae et leo duis ut. Massa id 
            neque aliquam vestibulum morbi blandit cursus risus at. Enim nec dui nunc 
            mattis enim ut tellus. Etiam erat velit scelerisque in. Quisque id diam 
            vel quam elementum pulvinar etiam non quam. Eget nulla facilisi etiam 
            dignissim diam quis enim. Id leo in vitae turpis massa. Vestibulum lorem 
            sed risus ultricies tristique nulla. Commodo elit at imperdiet dui 
            accumsan sit.     
          </p>
          <p>
            Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Etiam erat velit scelerisque in dictum non consectetur. Auctor elit sed vulputate mi sit amet mauris commodo. Eget egestas purus viverra accumsan. Consequat ac felis donec et odio. Posuere morbi leo urna molestie at elementum eu. Quis enim lobortis scelerisque fermentum. Non curabitur gravida arcu ac tortor dignissim. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Diam maecenas ultricies mi eget mauris pharetra et ultrices. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Sed tempus urna et pharetra. Lectus nulla at volutpat diam. Sed viverra ipsum nunc aliquet bibendum. Urna cursus eget nunc scelerisque viverra. Pulvinar mattis nunc sed blandit libero volutpat. Duis ut diam quam nulla porttitor massa id neque aliquam. Dui nunc mattis enim ut tellus elementum sagittis vitae. Cursus eget nunc scelerisque viverra mauris in aliquam sem.             
          </p>
          <p>
          At elementum eu facilisis sed odio morbi quis commodo odio. Dolor purus non enim praesent elementum facilisis leo vel. Nunc mattis enim ut tellus elementum. Volutpat sed cras ornare arcu. Nam aliquam sem et tortor consequat. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Lobortis elementum nibh tellus molestie nunc non blandit. Adipiscing at in tellus integer feugiat scelerisque varius morbi. Lorem mollis aliquam ut porttitor leo. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Consectetur adipiscing elit duis tristique sollicitudin. Lacus sed turpis tincidunt id aliquet risus feugiat in. Et malesuada fames ac turpis egestas integer. Eu mi bibendum neque egestas. Lorem ipsum dolor sit amet consectetur adipiscing elit. Nunc sed blandit libero volutpat. Odio tempor orci dapibus ultrices in. Ultricies mi quis hendrerit dolor magna eget.
          </p>
        </v-card-text>
        <v-card-actions>
          <v-radio-group v-model='consent'>
            <v-radio label="I consent to participating in PPMI Remote" value = "consent"></v-radio>
            <v-radio label="I do not consent to participating in PPMI Remote" value = "decline"></v-radio>
            <v-radio label="I have more questions before I decide to continue" value = "question"></v-radio>
          </v-radio-group>              
        </v-card-actions>
        <v-dialog v-model='dialog' persistent max-width="1000px">
          <v-card>
            <v-card-title class = "headline">Consent to Participate</v-card-title>
            <v-card-text>
              <signature-pad v-if="consent=='consent'"></signature-pad>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
              <v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  data: function() {
    return {
      consent: null,
      dialog: false
    }
  },
    watch: {
      consent: function() {
        console.log("Hello World");
        this.dialog = true;
      }
    },
}

</script>