<template>
  <v-container>
    <v-card>
      <v-card-title>General Info</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="6">
            <v-text-field
              :disabled="edit"
              v-model="first_name"
              label="First Name"
            ></v-text-field>          
          </v-col>
          <v-col cols="6">
            <v-text-field
              :disabled="edit"
              v-model="last_name"
              label="Last Name"
            ></v-text-field>          
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-select
              v-model="gender"
              :items="genders"
              label="Gender"
            ></v-select>
          </v-col>
          <v-col cols="6">
            <v-dialog
              ref="dialog"
              v-model="birthdate_modal"
              :return-value.sync="birthdate"
              persistent
              width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="birthdate"
                  label="Picker in dialog"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="birthdate" scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.dialog.save(birthdate)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn color = "green"><v-icon>mdi-account-edit</v-icon>Edit</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>

export default {
  data: function() {
    return {
      edit: false,
      genders: ["Male", "Female", "Other"],
      first_name: "Eric",
      last_name: "Bailey",
      birthdate: new Date().toISOString().substr(0, 10),
      birthdate_modal: false,
      gender: "Male"
    }
  }
}

</script>