<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Welcome to PPMI Remote!</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-form ref="form" v-model='valid' lazy-validation>
            <v-card-text>
              <p>
                Welcome and thank you for your willingness to participate in the PPMI Remote Study.
                This website will be your base of operations when interacting with study staff and coordinators.
                Of course, you may contact staff directly using the circular questions button in the 
                bottom right of the screen. 
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus vestibulum posuere. 
                Vestibulum eu tortor et lectus venenatis fermentum. Morbi eget tellus commodo lectus 
                varius consectetur id vel leo. Donec porta orci maximus nibh mattis, in suscipit sapien 
                luctus. Nunc in elit mauris. Cras pretium, velit quis vestibulum euismod, sapien sapien 
                fringilla justo, quis ullamcorper dui lorem in lacus. Pellentesque habitant morbi tristique 
                senectus et netus et malesuada fames ac turpis egestas. In faucibus nisl non rhoncus ornare. 
                Donec malesuada finibus velit. Aliquam semper rutrum enim, vitae molestie ipsum hendrerit quis.
              </p>
              <p>
                Phasellus eu porta est. Nam sagittis fermentum est, ut facilisis felis lacinia non. Pellentesque 
                pulvinar purus vitae nunc molestie dignissim. Curabitur orci lorem, aliquet ut convallis in, 
                semper non ex. Duis maximus turpis arcu, sed sodales nulla varius in. Sed eu auctor dui, nec 
                pretium metus. Praesent ac vehicula nibh. Aliquam ultrices, arcu ac auctor consequat, arcu lacus 
                lacinia elit, at sodales neque turpis eget arcu. 
              </p>

            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                class="mr-4"
                @click="ok"
              >
                Okay
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  methods: {
    ok: function() {
      console.log("Okay Clicked")
    }
  }
}

</script>