<template>
  <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-card
      flat
      color="primary"
      dark
    >
      <v-card-title>UPSIT Tracking</v-card-title>
      <v-card-text>
        <strong>Tracking No: </strong>12345678901234<br />
        <strong>Expected Delivery:</strong> February 25, 2020</v-card-text>
    </v-card>
    <v-card-text class="py-0">
      <v-timeline
        align-top
        dense
      >
        <v-timeline-item
          color="pink"
          small
        >
          <strong>February 20, 2020</strong><br />
          UPSIT Kit Shipped from Indianapolis, IN
        </v-timeline-item>

        <v-timeline-item
          color="pink"
          small
        >
          <strong>February 21, 2020</strong><br />
          UPSIT Kit Arrived in Atlanta, GA
        </v-timeline-item>

        <v-timeline-item
          color="pink"
          small
        >
          <strong>February 23, 2020</strong><br />
          UPSIT Kit Arrived in Ocala, FL
        </v-timeline-item>

        <v-timeline-item
          color="pink"
          small
        >
          <strong>February 24, 2020</strong><br />
          Out for Delivery
        </v-timeline-item>

      </v-timeline>
    </v-card-text>
  </v-card>
</template>

<script>

export default {
  data: function() {
    return {
      tracking: [
        {
          
        }
      ]
    }
  }
}

</script>