<template>
  <v-container    
    fluid
    align='start'
  >
  <v-layout child-flex>
    <v-stepper v-model='step'>
      <v-stepper-header>
        <v-stepper-step step="0">
          Welcome
        </v-stepper-step>
        <template v-for="(book, index) in upsit">
          <v-divider :key="'div'+index"></v-divider>
          <v-stepper-step :step="book.book_no" :key="'step'+index">
            Booklet #{{book.book_no}}
          </v-stepper-step>        
        </template>
        <v-divider></v-divider>
        <v-stepper-step :step="upsit.length+1">
          Finished
        </v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step = "0">
          <v-card flat>
            <v-card-title>Thank you for choosing to participate in PPMI Remote</v-card-title>
            <v-card-text>
              <p>
                Our records indicate that your UPSIT kit was delivered on {{upsitDate}}. The 
                UPSIT is a test for hyposmia (decreased sense of smell). Studies have shown that 
                hyposmia can be a precursor to developing Parkinson's Disease. This page will 
                guide you through filling out the UPSIT test and what to do when 
                you are finished. If you would like to watch a video tutorial before proceeding
                please <a href = "https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">
                follow this link</a>. 
              </p>
              <p>
                To begin, please locate the red sticker labeled <strong>UPSIT NO</strong> attached
                to the envelope containing the UPSIT Booklets. The label contains an <strong>8-letter
                </strong> code. Please enter that code in the box below:
              </p>
              <v-text-field
                :append-icon="kit_no.icon"
                v-model="kit_no_value"
                v-mask="kit_no.mask"
                outlined
                label="UPSIT NO"
                :hint="kit_no.hint"
                :color="kit_no.color"
              >
              </v-text-field> 
              <template v-if="kit_no_value.length === 8">
                <p class="mt-2">
                  The UPSIT test consists of 40 scratch-and-sniff questions divided between 4 
                  booklets. On each page you will complete the following steps:
                </p>
                <ol>
                  <li>use the provided pencil to <strong>scratch</strong> the small brown label,</li>
                  <li><strong>sniff</strong> the label,</li>
                  <li><strong>fill</strong> in the circle in the booklet corresponding to your smell experience,</li>
                  <li><strong>click</strong> the option on the webpage corresponding to the option you chose in the booklet.</li>
                </ol>
                <h4>NOTE:</h4>
                <ul class = "mt-4">
                  <li>Be sure to mark your choices in the <strong>physical booklet AND on the webpage</strong>.</li>
                  <li>Be sure to <strong>answer all questions</strong>. Even if none of the choice match the smell or you cannot smell anything.</li>
                </ul>
                <p class = "mt-4">
                  When you are ready to begin click the <strong>Continue</strong> button below.
                </p>
              </template>
            </v-card-text>  
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn :color="nextButton.color" @click="nextStep" :disabled="nextButton.disabled">{{nextButton.label}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-stepper-content>
        <!-- START Booklets -->
        <v-stepper-content flat v-for="(book, index) in upsit" :step = 'book.book_no' :key="'stepper'+index">
          <upsit-booklet 
            :booklet="book" 
            v-on:selected="updatePage"
            v-on:confirmed="confirmBooklet"
          ></upsit-booklet>
        </v-stepper-content>
        <!-- END Booklets -->
        <v-stepper-content flat :step="upsit.length+1">
          <v-card flat>
            <v-card-title>Thank you for completing the on-line UPSIT module.</v-card-title>
            <v-card-text>
              <p>
                You're not quite finished yet! Please take the four completed UPSIT booklets, put 
                them in the provided shipping envelope and drop them in the mail at your earliest
                convenience. 
              </p>
            </v-card-text>  
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn :color="nextButton.color" @click="$router.push('/')">Finished</v-btn>
            </v-card-actions>
          </v-card>  
        </v-stepper-content>
      </v-stepper-items>
   </v-stepper>
  </v-layout>
  </v-container>
</template>

<script>

import { mask } from 'vue-the-mask'

export default {

  directives: {
    mask,
  },
  data: function() {
    return {
      nextButton: {
        color: "primary",
        label: "Continue",
        disabled: true
      },
      upsitDate: "February 21, 2020",
      kit_no_expected: "ABCDEFGH",
      kit_no_value: "",
      kit_no: {
        color: "primary",
        mask: "AAAAAAAA",
        icon: "",
        hint: "",        
      },
      step: 0,
      btnClick: 0,
      upsit: [
        {
          "book_no": 1,
          "image": "img/upsit_book_1.png",
          "pages": [
            {
              page_no: 1,
              color: "blue",
              options: ['gasoline', 'pizza', 'peanuts', 'lilac'],
              selected: null
            },
            {
              page_no: 2,
              color: "yellow",
              options: ['dill pickle', 'bubble gum', 'wintergreen', 'watermelon'],
              selected: null
            },
            {
              page_no: 3,
              color: "pink",
              options: ['tomato', 'licorice', 'strawberry', 'menthol'],
              selected: null
            },
            {
              page_no: 4,
              color: "green",
              options: ['whiskey', 'honey', 'lime', 'cherry'],
              selected: null
            },
            {
              page_no: 5,
              color: "white",
              options: ['grass', 'pizza', 'motor oil', 'pineapple'],
              selected: null
            },
            {
              page_no: 6,
              color: "orange",
              options: ['skunk', 'mint', 'fruit punch', 'cola'],
              selected: null
            },
            {
              page_no: 7,
              color: "green",
              options: ['banana', 'garlic', 'cherry', 'motor oil'],
              selected: null
            },
            {
              page_no: 8,
              color: "pink",
              options: ['licorice','clove','chili','banana'],
              selected: null
            },
            {
              page_no: 9,
              color: "yellow",
              options: ['clove', 'lilac', 'leather', 'apple'],
              selected: null
            },
            {
              page_no: 10,
              color: "blue",
              options: ['skunk', 'coconut', 'cedar', 'honey'],
              selected: null
            }
          ]    
        },
        {
          "book_no": 2,
          "image": "img/upsit_book_1.png",
          "pages": [
            {
              page_no: 11,
              color: "blue",
              options: ['gasoline', 'pizza', 'peanuts', 'lilac'],
              selected: null
            },
            {
              page_no: 12,
              color: "yellow",
              options: ['dill pickle', 'bubble gum', 'wintergreen', 'watermelon'],
              selected: null
            },
            {
              page_no: 13,
              color: "pink",
              options: ['tomato', 'licorice', 'strawberry', 'menthol'],
              selected: null
            },
            {
              page_no: 14,
              color: "green",
              options: ['whiskey', 'honey', 'lime', 'cherry'],
              selected: null
            },
            {
              page_no: 15,
              color: "white",
              options: ['grass', 'pizza', 'motor oil', 'pineapple'],
              selected: null
            },
            {
              page_no: 16,
              color: "orange",
              options: ['skunk', 'mint', 'fruit punch', 'cola'],
              selected: null
            },
            {
              page_no: 17,
              color: "green",
              options: ['banana', 'garlic', 'cherry', 'motor oil'],
              selected: null
            },
            {
              page_no: 18,
              color: "pink",
              options: ['licorice','clove','chili','banana'],
              selected: null
            },
            {
              page_no: 19,
              color: "yellow",
              options: ['clove', 'lilac', 'leather', 'apple'],
              selected: null
            },
            {
              page_no: 20,
              color: "blue",
              options: ['skunk', 'coconut', 'cedar', 'honey'],
              selected: null
            }
          ]    
        },
          {
          "book_no": 3,
          "image": "img/upsit_book_1.png",
          "pages": [
            {
              page_no: 21,
              color: "blue",
              options: ['gasoline', 'pizza', 'peanuts', 'lilac'],
              selected: null
            },
            {
              page_no: 22,
              color: "yellow",
              options: ['dill pickle', 'bubble gum', 'wintergreen', 'watermelon'],
              selected: null
            },
            {
              page_no: 23,
              color: "pink",
              options: ['tomato', 'licorice', 'strawberry', 'menthol'],
              selected: null
            },
            {
              page_no: 24,
              color: "green",
              options: ['whiskey', 'honey', 'lime', 'cherry'],
              selected: null
            },
            {
              page_no: 25,
              color: "white",
              options: ['grass', 'pizza', 'motor oil', 'pineapple'],
              selected: null
            },
            {
              page_no: 26,
              color: "orange",
              options: ['skunk', 'mint', 'fruit punch', 'cola'],
              selected: null
            },
            {
              page_no: 27,
              color: "green",
              options: ['banana', 'garlic', 'cherry', 'motor oil'],
              selected: null
            },
            {
              page_no: 28,
              color: "pink",
              options: ['licorice','clove','chili','banana'],
              selected: null
            },
            {
              page_no: 29,
              color: "yellow",
              options: ['clove', 'lilac', 'leather', 'apple'],
              selected: null
            },
            {
              page_no: 30,
              color: "blue",
              options: ['skunk', 'coconut', 'cedar', 'honey'],
              selected: null
            }
          ]    
        },
        {
          "book_no": 4,
          "image": "img/upsit_book_1.png",
          "pages": [
            {
              page_no: 31,
              color: "blue",
              options: ['gasoline', 'pizza', 'peanuts', 'lilac'],
              selected: null
            },
            {
              page_no: 32,
              color: "yellow",
              options: ['dill pickle', 'bubble gum', 'wintergreen', 'watermelon'],
              selected: null
            },
            {
              page_no: 33,
              color: "pink",
              options: ['tomato', 'licorice', 'strawberry', 'menthol'],
              selected: null
            },
            {
              page_no: 34,
              color: "green",
              options: ['whiskey', 'honey', 'lime', 'cherry'],
              selected: null
            },
            {
              page_no: 35,
              color: "white",
              options: ['grass', 'pizza', 'motor oil', 'pineapple'],
              selected: null
            },
            {
              page_no: 36,
              color: "orange",
              options: ['skunk', 'mint', 'fruit punch', 'cola'],
              selected: null
            },
            {
              page_no: 37,
              color: "green",
              options: ['banana', 'garlic', 'cherry', 'motor oil'],
              selected: null
            },
            {
              page_no: 38,
              color: "pink",
              options: ['licorice','clove','chili','banana'],
              selected: null
            },
            {
              page_no: 39,
              color: "yellow",
              options: ['clove', 'lilac', 'leather', 'apple'],
              selected: null
            },
            {
              page_no: 40,
              color: "blue",
              options: ['skunk', 'coconut', 'cedar', 'honey'],
              selected: null
            }
          ]    
        }
      ]
    }
  },
  watch: {
    kit_no_value: function () {
      this.kit_no.icon = "";
      this.kit_no.hint = "";
      this.nextButton.disabled = true;
      if(this.kit_no_value === null) {
        this.kit_no.color =  "blue";
      } else if(this.kit_no_value.length < 8) {
        this.kit_no.color =  "blue";
      } else if (this.kit_no_value.length > 8) {
        this.kit_no.color =  "red";
      } else if(this.kit_no_value === this.kit_no_expected) {
        this.kit_no.icon = "mdi-check";
        this.kit_no.hint = "UPSIT Number Matches!"
        this.kit_no.color =  "green";
        this.nextButton.disabled = false;
      } else {
        this.kit_no.icon = "mdi-alert-circle-outline";
        this.kit_no.hint = "This code does not match our records. Please ensure that you entered the correct code before clicking Continue."
        this.kit_no.color =  "red";
        this.nextButton.disabled = false;
      }      
    }
  },
  methods: {
    confirmBooklet: function(book_no) {
      this.upsit[book_no-1].confirmed = true;
      this.nextStep();
    },
    updatePage: function(selected) {
      this.upsit[selected.book_no-1].pages[selected.pageIndex].selected = selected.value;
      this.disabledButton = false;
    },
    nextStep: function() {
      this.step++;
    }
  }
}

</script>

<style>

.no-transition .stepper__content { transition: none; }

</style>