<template>
  <material-expansion-panel
    color = 'primary'
    icon = "mdi-contacts"
    title = "Contact Info"
  >
    <template v-slot:headerClosed>
      <v-row no-gutters style="width: 100%">
        <v-col cols="12"><b>Preferred Contact</b>: <span v-html="preferred_contact_link"></span></v-col>
      </v-row>        
    </template>

    <card>
      <v-tabs vertical>
        <v-tab v-for="(address, index) in participant.addresses" :key="index">
          <v-icon left>mdi-home</v-icon>
          {{ address.city }}, {{ address.state }}
        </v-tab>
        <v-tab-item v-for="(address, index) in participant.addresses" :key="index">
          <v-card-flat margin>
            <v-card-text>
              <v-form>
                <v-card flat>
                  <v-row no-gutters>
                      <v-col cols="12">                  
                          <v-text-field dense
                          v-model="address.street"
                          :rules = "nameRules"
                          label = "Street"
                          required
                          ></v-text-field>
                      </v-col>
                  </v-row>
                  <v-row no-gutters>
                      <v-col cols="12">                  
                          <v-text-field dense
                          v-model="address.street2"
                          :rules = "nameRules"
                          label = "Street (cont)"
                          ></v-text-field>
                      </v-col>
                  </v-row>        
                  <v-row no-gutters>
                      <v-col cols="6">                  
                          <v-text-field dense
                          v-model="address.city"
                          :rules = "nameRules"
                          label = "City"
                          required
                          ></v-text-field>
                      </v-col>
                      <v-col cols="4">                  
                          <v-text-field dense
                          v-model="address.state"
                          :rules = "nameRules"
                          label = "State"
                          required
                          ></v-text-field>
                      </v-col>
                      <v-col cols="2">                  
                          <v-text-field dense
                          v-model="address.zip"
                          :rules = "nameRules"
                          label = "ZIP"
                          required
                          ></v-text-field>
                      </v-col>
                  </v-row>
                  <v-row>
                    <v-spacer></v-spacer>
                    <v-btn>Test</v-btn>
                  </v-row>
                </v-card>
              </v-form>     
            </v-card-text>    
          </v-card-flat>
        </v-tab-item>
      </v-tabs>
    </card>

 
  </material-expansion-panel>
</template>

<script>

export default {
    props: ['selected_participant'],
    data: function() {
      return {
        participant: this.selected_participant
      }
    },
    computed: {
      preferred_contact() {
        let c = this.participant.contact;
        let p = "none";
        if(c.prefer == "email") {
          p = c.email[0];
        } else if(c.prefer === "phone") {
          p = c.phone[0];
        }
        return p;
      },
      preferred_contact_link() {
        let c = this.preferred_contact;
        let p = "none";
        if(this.participant.contact.prefer == "email") {
          p = `<a href = "mailto:${c}">${c}</a>`
        } else if(this.participant.contact.prefer == "phone") {
          p = `<a href = "tel:${c}">${c}</a>`
        }
        return p;
      } 
    }
}

</script>