<template>
  <material-expansion-panel
    color = 'green'
    icon = "mdi-forum"
    title = "Questionnaires"
  >
    <template v-slot:headerClosed>
      <v-row no-gutters style="width: 100%">
        <v-col cols="12"><b>Pending Questions</b>: {{participant.questionnaires.length - answered_questions}}/{{participant.questionnaires.length}}</v-col>
      </v-row>        
    </template>
    <v-data-table  class="fb-table-elem"
      dense
      :headers="questionnaire_headers"
      :items="participant.questionnaires"
      item-key="question"
    ></v-data-table>          
  </material-expansion-panel>
</template>

<script>

export default {
    props: ['selected_participant'],
    data: function() {
      return {
        participant: this.selected_participant,
        questionnaire_headers: [
          {
            sortable: true,
            text: 'Question',
            value: 'question'
          },
          {
            sortable: true,
            text: "Answer",
            value: "answer"
          },
          {
            sortable: true,
            text: 'Timestamp',
            value: 'timestamp'
          }
        ],
      }
    },
    computed: {
    answered_questions() {
      let q = this.participant.questionnaires;
      return q.filter(qq => qq.answer != null).length;
    },
    }
}

</script>