<template>
  <material-expansion-panel
    color = 'blue'
    icon = "mdi-airplane"
    title = "Travel Planning"
  >
    <template v-slot:headerClosed>
      <v-row no-gutters style="width: 100%">
        <v-col cols="12"><b>Next Scheduled Travel</b>: 3/16/2020 <v-chip x-small color = "green" text-color="white"><v-icon size = "12" left>mdi-check</v-icon>Booked</v-chip></v-col>
      </v-row>        
    </template>
    Hello World!
  </material-expansion-panel>   
</template>

<script>

export default {
    props: ['selected_participant'],
    data: function() {
      return {
        participant: this.selected_participant,
        questionnaire_headers: [
          {
            sortable: true,
            text: 'Question',
            value: 'question'
          },
          {
            sortable: true,
            text: "Answer",
            value: "answer"
          },
          {
            sortable: true,
            text: 'Timestamp',
            value: 'timestamp'
          }
        ],
      }
    },
    computed: {
    answered_questions() {
      let q = this.participant.questionnaires;
      return q.filter(qq => qq.answer != null).length;
    },
    }
}

</script>