<template>
  <v-autocomplete
    v-model="selected"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    item-text="description"
    item-value="uuid"
    solo-inverted
    flat
    hide-details
    label="Search Participants"
    prepend-inner-icon="search"
  ></v-autocomplete>
</template>

<script>

    export default {
        data: () => ({
        entries: [],
        isLoading: false,
        selected: null,
        search: null,
        }),
        watch: {
        selected(val) {
          this.$store.dispatch('get_participant', val);
        },
        search() {
            if(this.items.length > 0) return
            if(this.isLoading) return
            this.isLoading = true;
            let that = this;
            this.$http.get("/participants").then(res => {
            this.entries = res.data
            }).catch(error => {
            throw new Error(`API ${error}`)
            }).finally(function() {
            that.isLoading = false;
            })
        }
        },
        computed: {
        items() {
            return this.entries.map(entry => {
            return {
                uuid: entry.uuid,
                description: `${entry.last_name}, ${entry.first_name} (${entry.ppmi_id})`
            };
            })
        }
        },
    }

</script>