<template>
  <span style = "width: 100%;">
    <p>Thank you for consenting to participate in PPMI Remote. Please sign in the grey box below and click `Submit` to proceed.</p>
    <VueSignaturePad
      width="100%"
      height="200px"
      ref="signaturePad"
      :options="{backgroundColor: '#DDD', penColor: 'blue'}"
     
    />
    <v-btn color='success' @click='save'>Submit</v-btn>
    <v-btn color='error' @click='undo'>Undo</v-btn>
  </span>

</template>

<script>
  export default {
    name: 'MySignaturePad',
    methods: {
      undo() {
        this.$refs.signaturePad.undoSignature();
      },
      save() {
        const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
        console.log(isEmpty);
        console.log(data);
      }
    }
  }
</script>