<template>
  <v-app id="ppp">
    <v-app-bar
      v-if='loggedIn'
      app
      color='primary'
      dark
      clipped-left
      elevate-on-scroll
    >
      <v-app-bar-nav-icon @click="drawer = !drawer" ></v-app-bar-nav-icon>
      <v-toolbar-title>
        <span class="title ml-3 mr-5">PPMI Participant <span class="font-weight-light">Portal</span></span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <span v-if='loggedIn'>
        Welcome {{user}}
      </span>
      <v-btn icon @click="logout" v-if="loggedIn">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-if="loggedIn"
      v-model="drawer"
      color="secondary"
      app
      clipped
      dark
    >
      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in sidebarItems"
          :key="item.title"
          link
          router v-bind:to='item.link'
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <router-view></router-view>
      <question-box v-if='loggedIn' />
    </v-content>

  </v-app>
</template>

<script>

  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: true,
      sidebarItems: [
        { icon: 'home', text: 'Home', link: "/"},
        { icon: 'mdi-account-card-details', text: 'Contact Info', link: '/contact_info'},
        { icon: 'mdi-signature', text: "Consents", link: '/consents'},
        { icon: 'mdi-frequently-asked-questions', text: "Frequently Asked Questions", link: '/faqs'},
        { icon: 'mdi-airplane', text: "Travel", link: '/travel'},
        { icon: 'mdi-truck-fast', text: "Shipments", link: '/shipments'},
        { icon: 'mdi-file-question-outline', text: "Questionnaires", link: "/questionnaires"},
        { icon: 'mdi-user', text: "UPSIT", link: "/upsit"},
      ],
    }),
    computed: {
      loggedIn: function() {
        return this.$store.getters.isLoggedIn;
      },
      user: function() {
        console.log(this.$store.getters.activeUser);
        return this.$store.getters.activeUser;
      }
    },
    methods: {
      logout: function() {
        this.$store.dispatch('logout');
        this.$router.push('/login')
      }
    }
  }
</script>

<style lang="scss">
@import '@/styles/index.scss';

/* Remove in 1.2 */
.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}

#keep .v-navigation-drawer__border {
  display: none
}
</style>
