<template>
  <v-card flat>
    <v-card-title>Booklet {{book.book_no}} of 4</v-card-title>
    <v-card-subtitle v-html='instructions'></v-card-subtitle>
    <v-card-text class="text-center">
      <v-stepper v-model="page" class = "book-stepper">
        <v-stepper-items>
          <v-stepper-content step = -1 class='v-inline-flex'>
            <v-img width="67%" :src="booklet.image"></v-img>  
          </v-stepper-content>
          <v-stepper-content v-for="(page, index) in book.pages" :step="index" :key="'page'+index">
            <upsit-page 
              :key="'q' + index" 
              :page="page"
              :pageIndex="index"
              v-on:selected="updatePage"
            >
            </upsit-page>    
          </v-stepper-content>
          <v-stepper-content :step='this.book.pages.length'>
            <v-card >
              <v-card-text class = "d-flex flex-row-reverse">
                <v-radio-group v-for="(page, i) in book.pages" v-model="page.selected" :key="i" class = "d-inline-flex">
                  <v-list dense :color="page.color">
                    <v-list-item>
                      <v-list-item-content>
                        {{page.page_no}}
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-for="(option, j) in page.options" class="review-list d-flex"  :key="j">
                      <v-list-item-content :key="j">
                        <v-radio
                          color='black' 
                          class = "d-inline-flex"
                          :value = 'letters[j]' 
                          :key="option" 
                          :on-icon="get_icon(j, true)" 
                          :off-icon="get_icon(j, false)"
                        ></v-radio>
                      </v-list-item-content>              
                    </v-list-item>
                  </v-list>
                </v-radio-group>        
              </v-card-text>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn :color="nextButton.color" @click="bookStep" :disabled="nextButton.disabled">{{nextButton.label}}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    props: ["booklet"],
    data: function() {
      return {
        page: -1,
        complete: false,
        book: this.booklet,
        letters:['a','b','c','d'],
        nextButton: {
          color: "primary",
          label: "Continue",
          disabled: false
        },      
      }
    },
    watch: {
      btnClick: function() {
        console.log(this.btnClick);
      }
    },
    computed: {
      instructions: function() {
        if(this.page === -1) {
          return `Please locate the booklet marked <strong>Booklet ${this.booklet.book_no} of 4</strong>. Click <bold>Continue</bold> once you've located the appropriate Booklet`
        } else if(this.page === 10) {
          return `You have completed booklet ${this.booklet.book_no} of 4. While looking at the last page of the booklet, compare the diagram below to the answers you marked in your booklet. If any differ please update by clicking the appropriate circle. When finished please click Confirm.`
        } else {
          return `Turn to <strong>page ${this.page+1}</strong>. Use the enclosed pencil to scratch the brown label from left to right several times. Sniff the scraped label and completely fill the circle corresponding to your smell experience.`
        }
      }
    },
    methods: { 
      updatePage: function(selected) {
        this.book.pages[selected.pageIndex].selected = selected.value;
        this.$emit('selected', {book_no: this.book.book_no, pageIndex: selected.pageIndex, value: selected.value});
        this.nextButton.disabled = false;
      },
      get_icon: function(j, on = false) {
        let icon = `mdi-alpha-${this.letters[j]}-circle`
        if(!on) {
          icon = icon + "-outline";
        }
        return icon;
      },
      bookStep: function() {
        let lastPage = 9;
        console.log(this.page + " - " + lastPage);
        if(this.page <= lastPage) {
          if(this.page === lastPage) {
            this.nextButton.label = "Confirm Booklet";
            this.nextButton.disabled = false;  
          } else if(this.page === lastPage-1) {
            this.nextButton.label = "Verify Booklet"
            this.nextButton.disabled = true;          
          } else {
            this.nextButton.label = "Next Page"
            this.nextButton.disabled = true;          
          }
          this.page++;
        } else {
          this.$emit('confirmed', this.book.book_no);
        }
      }
    }
  }

</script>

<style scoped>

  .review-list {
    padding:8px;
    align-items: center;
  }

  .book-stepper {
    border: none !important;
    box-shadow: none !important;
  }

  .book-stepper .v-stepper__content {
    padding: 0 !important;
  }

  .v-radio .v-icon {
    font-size: 32px;
    color: black !important;
  }

  .v-radio > div {
    margin-right: 0 !important;
  }

</style>