<template>
  <v-radio-group v-model="selection">
    <v-card :color="colors[page.color]">
      <v-card-title class = "d-flex flex-row-reverse">
        {{page.page_no}}. This odor most smells like:
      </v-card-title>
      <v-card-text class = "page-text d-flex flex-row-reverse">
        <v-list dense color="transparent" class rounded>
          <v-list-item 
            v-for="(o, i) in page.options" 
            :key="'item'+i" 
            @click="selection=letters[i]"
          >
            <v-list-item-content class="pr-8">
              {{letters[i]}}. {{o}}
            </v-list-item-content>
            <v-list-item-avatar>
              <v-radio 
                color='black' 
                :value = 'letters[i]' 
                :key="o" 
                :on-icon="get_icon(i, true)" 
                :off-icon="get_icon(i, false)"
              ></v-radio>
            </v-list-item-avatar>
          </v-list-item>
        </v-list>          
      </v-card-text>
    </v-card>
  </v-radio-group>
</template>

<script>

  export default {
    props: ["page", "pageIndex"],
    data: function() {
      return {
        selection: null,
        letters: ["a", "b", "c", "d"],
        colors: {
          blue:   "#a3a3c2",
          yellow: "#ffff4d",
          pink:   "#ff9966",
          green:  "#75d795",
          white:  "#FFFFFF",
          orange: "#ff8c1a"
        },
      }
    },  
    watch: {
      selection: function() {
        this.$emit('selected', {pageIndex: this.pageIndex, value: this.selection});
      }
    },
    methods: {
      get_icon: function(i, on = false) {
        let icon = `mdi-alpha-${this.letters[i]}-circle`
        if(!on) {
          icon = icon + "-outline";
        }
        return icon;
      },
    },

  }

</script>

<style scoped>

  .v-radio .v-icon {
    font-size: 32px;
    color: black !important;
  }

</style>